<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/top :: top}"></div>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>사용자 아이디</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- 사용자가 없을 경우 메시지 표시 -->
                <tr th:if="${#lists.isEmpty(users)}">
                    <td colspan="5" class="text-center">등록된 사용자가 없습니다.</td>
                </tr>

                <!-- 사용자가 있을 경우 목록 출력 -->
                <tr th:each="user, stat : ${users}">
                    <th scope="row" th:text="${stat.count}"></th>
                    <td>
                        <a th:href="@{/user/{userId}(userId=${user.userId})}" th:text="${user.userId}"></a>
                    </td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
<!--                    <td>-->
<!--                        <a th:href="@{/users/{userId}/form(userId=${user.userId})}" class="btn btn-success">수정</a>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>