<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/top :: top}"></div>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                <h2 class="qna-title" th:text="${article.title}">글 제목</h2>
            </header>
            <div class="content-main">
                <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}">
                    에러 메시지 창
                </div>
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture" class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <span class="article-author-name" th:text="${article.writer.name}">작성자</span>
                            <a href="/questions/413" class="article-header-time" title="퍼머링크">
                                2015-12-30 01:47
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        <p th:text="${article.contents}">본문 내용</p>
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list" th:if="${article.writer.id == session.loginUser.id}">
                            <li>
                                <a th:href="@{/questions/{id}/form(id=${article.id})}" class="link-modify-article">수정</a>
                            </li>
                            <li>
                                <form class="form-delete" th:action="@{/questions/{id}(id=${article.id})}" method="post">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <button class="link-delete-article" type="submit">삭제</button>
                                </form>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count"><strong th:text="${#lists.size(article.replies)}">0</strong>개의 의견</p>
                        <div class="qna-comment-slipp-articles">
                            <div th:each="reply : ${article.replies}">
                                <article class="article">
                                    <div class="article-header">
                                        <div class="article-header-thumb">
                                            <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
                                        </div>
                                        <div class="article-header-text">
                                            <span class="article-author-name" th:text="${reply.writer.name}">작성자</span>
                                        </div>
                                    </div>
                                    <div class="article-doc comment-doc">
                                        <p th:text="${reply.contents}">댓글 내용</p>
                                    </div>
                                    <div class="article-util">
                                        <ul class="article-util-list" th:if="${reply.writer.id == session.loginUser.id}">
                                            <li>
<!--                                                <a th:href="@{/questions/{id}/answers/{answerId}/form(id=${article.id}, answerId=${reply.id})}" class="link-modify-article">수정</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
                                                <a href="#" class="link-modify-article"
                                                   th:attr="data-reply-id=${reply.id}, data-article-id=${article.id}"
                                                   onclick="showEditForm(this); return false;">수정</a>
                                            </li>
                                            <li>
                                                <form class="delete-answer-form" th:action="@{/questions/{id}/answers/{answerId}(id=${article.id}, answerId=${reply.id})}" method="POST">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="delete-answer-button">삭제</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </div>

                            <form class="submit-write" th:action="@{/questions/{id}/answers(id=${article.id})}" method="post">
                                <div class="form-group" style="padding:14px;">
                                    <textarea class="form-control" name="contents" placeholder="댓글을 입력하세요" required></textarea>
                                </div>
                                <button class="btn btn-success pull-right" type="submit">답변하기</button>
                                <div class="clearfix" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="answerTemplate">
    <article class="article">
        <div class="article-header">
            <div class="article-header-thumb">
                <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
            </div>
            <div class="article-header-text">
                <a href="#" class="article-author-name">{0}</a>
                <div class="article-header-time">{1}</div>
            </div>
        </div>
        <div class="article-doc comment-doc">
            {2}
        </div>
        <div class="article-util">
            <ul class="article-util-list">
                <li>
                    <a class="link-modify-article" href="/api/qna/updateAnswer/{3}">수정</a>
                </li>
                <li>
                    <form class="delete-answer-form" action="/api/questions/{3}/answers/{4}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete-answer-button">삭제</button>
                    </form>
                </li>
            </ul>
        </div>
    </article>
</script>

<script>
    function showEditForm(button) {
        const article = button.closest(".article");
        const contentText = article.querySelector(".article-doc p").innerText;
        const replyId = button.getAttribute("data-reply-id");
        const articleId = button.getAttribute("data-article-id");

        const formHTML = `
            <form method="post" action="/questions/${articleId}/answers/${replyId}">
                <input type="hidden" name="_method" value="PUT" />
                <textarea name="contents" class="form-control" required>${contentText}</textarea>
                <button type="submit" class="btn btn-primary btn-sm">수정 완료</button>
            </form>
        `;

        article.querySelector(".article-doc").innerHTML = formHTML;
    }
</script>

<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>